@model PeopleViewModel
<div class=""container"">
 

  
  
</div>
<div class="container">
  <div class="row align-items-start">
    <div class="col">
      <h2>List of Customers</h2>
      <button type="button" class="btn btn-primary" data-bs-toggle="collapse" data-bs-target="#Add_someone">Add someonee</button>

    </div>
    <div class="col">
       <p>You can change or remove someone</p>     @using(@Html.BeginForm("Search","People")){
  <input type="text" class=" inputtext " name="SearchName" value=@ViewBag.PlayerGuess placeholder="Search by name"  style="width:auto">
  <input class="btn btn-primary" id="submit" type="submit" value="Search">}
    
       
    </div>
  </div>
<div class="container mt-3">
  <div id="Add_someone" class="collapse">
        <p>You can add someone</p>     
        @using(@Html.BeginForm("Add","People")){
  <input asp-for=First_name type="text" class=" inputtext " name="First_name"   placeholder="First name"  style="width:auto">
   <input  asp-for="Last_name" type="text" class=" inputtext " name="Last_name"  placeholder="Last name"  style="width:auto">
   <input  asp-for="Country" type="text" class=" inputtext " name="Country"  placeholder="Country"  style="width:auto">
   <input  asp-for="Tel"type="text" class=" inputtext " name="Tel"  placeholder="Tel"  style="width:auto">
  <input class="btn btn-primary" id="submit" type="submit" value="Add">}
    
  </div>
  <span style="color:red" asp-validation-for="First_name"></span>
<span style="color:red"asp-validation-for="Last_name"></span>
<span style="color:red" asp-validation-for="Country"></span>
<span style="color:red" asp-validation-for="Tel"></span>
</div> 


  </div>
  <div class="row align-items-end">
    <table class="table table-condensed">
    <thead>
		 <tr>
        
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Country</th>
        <th>Tel</th>
      </tr>
    </thead>
    <tbody>
                   
                    @foreach(var person in Model.people){
        
                    <tr>

                        
                        <td>@person.First_name</td>
                        <td>@person.Last_name</td>
                        <td>@person.Country</td>
                        <td>@person.Tel</td>
                    <td class="text-center"><a href="/People/Delete/@person.Tel">Delete</a></td>

                    </tr>
                  
                }
     
    </tbody>
  </table>
  </div>
        <div class="col-md-10">
          @using (Html.BeginForm("Sort","People")){
            @Html.Label("ByFnmae", "By First name")
            @Html.RadioButton("Sort", "1",true)
             @Html.Label("ByLname", "  By Last name")
            @Html.RadioButton("Sort", "2") 
          <input  class="btn btn-primary" type="submit" class="btn" value="Sort" />}
            </div>
</div>