
                               <tr>
                        <td>@Model.Id</td>
                        <td>@Model.First_name</td>
                        <td>@Model.Last_name</td>
                        <td>@Model.IdCity</td>
                        <td>@Model.Tel</td>
    <td><input class="btn btn-primary _Delete" type="submit" id="@Model.Id" value="Delete" /></input></td>

                    </tr>
 