@model People.Person
                              <div>      

<tr>
                        <td>@Model.Id</td>
                        <td>@Model.First_name</td>
                        <td>@Model.Last_name</td>
                        <td>@Model.Country</td>
                        <td>@Model.Tel</td>
                    <td class="text-center"><a href="/People/Delete/@Model.Tel">Delete</a></td>

                    </tr>
 </div> 